<!-- <header>gán 1 biến cho 1 thành phần thẻ. và sau đó có thể dùng biến đó để truy suất vào các thuộc tính của thành phần đó
</header>
<input type="text" [(ngModel)]="name" #name_var>
<br>
Your name is: {{name}}
<br>
<code>{{name_var.value}}</code>
<h1>{{name_var.value}}</h1>
<br>
-------------------------------------------
tạo một form submit
<br> -->
<!-- 
<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <label for="name">Name <input class="form-control" name="name" ngModel required />
    </label>
    <button type="submit">Submit</button>
  </form>
  
  <div [hidden]="!itemForm.form.valid">
    <p>{{ submitMess }}</p>
  </div> -->