<!-- <app-book></app-book> -->
<!-- <word-com></word-com> -->
<!-- <app-template-variable></app-template-variable> -->
<!-- <app-directive></app-directive> -->
<!-- <app-struct></app-struct> -->

<!-- <h1>Component Father</h1>
<h2>Name: {{name}} | Age: {{age}}</h2>
<h1>Component Child</h1>
<app-person [name]="name" [age]="age" (newName)="updateName($event)"></app-person> -->
<!-- <app-list-person></app-list-person> -->
<!-- <app-lifecycle></app-lifecycle> -->
<!-- <app-demo></app-demo> -->
<!-- Sử dụng routerLink để không load lại
<a routerLink="/contact">Contact</a><br> 
<a routerLink="/detail">Detail</a>
<router-outlet></router-outlet> -->
<!-- <app-parent></app-parent> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-hello></app-hello>
<h1>==========================================</h1>
<app-httpservice></app-httpservice> -->

<app-lifecycle></app-lifecycle>
